.blog__info{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 2rem;
    @include for-phone-only {
    width: 100%;
  }
    &--search{
      display: flex;
      flex-direction: column;
      justify-content: center;
      background-color: $color-blog-background;
      padding: 2rem;
      width: 100%;
      gap: 1rem;
      .search{
        display: flex;
        align-items: center;
        position: relative;
        input{
          border: 1px solid $color-blog-border;
          padding: 1rem;
          width: 100%;
        }
        i{
          color: $accent-color;
          padding:0.5rem;
          position: absolute;
          right: 0;
        }
      }
      .btn--send{
        width: 100%;
        text-align: center;
      }
    }
    &--category{
    display: flex;
    flex-direction: column;
    background-color: $color-blog-background;
    padding: 2rem;
    gap: 2rem;
    width: 100%;
    h3{
      border-bottom: 1px solid $color-blog-border;
      padding: 20px 0;
    }
    ul{
      display: flex;
      flex-direction: column;
      gap: 10px;
      li{
        border-bottom: 1px solid $color-blog-border;
        padding-bottom: 20px;
        a{
          color: $accent-color;
          transition: 0.3s;
          &:hover{
            color: $color-primary;
          }
        }
      }
    }
    }
    &--post{
      display: flex;
      flex-direction: column;
      justify-content: center;
      background-color: $color-blog-background;
      padding: 2rem 1rem;
      gap: 1rem;
      width: 100%;
      h3{
        border-bottom: 1px solid $color-blog-border;
        padding: 20px 0;
      }
      .post{
        display: flex;
        gap: 20px;
        align-items: center;
        &--text{
          h4{
           cursor: pointer;
           transition: 0.3s;
           &:hover{
            color: $color-primary;
          }
        }
          p{
            color: $accent-color;
          }
        }
      }
    }
    &--tag{
      display: flex;
      flex-direction: column;
      justify-content: center;
      background-color: $color-blog-background;
      width: 100%;
      padding: 2rem;
      gap: 2rem;
      h3{
        border-bottom: 1px solid $color-blog-border;
        padding: 20px 0;
      }
      ul{
        display: flex;
        gap: 10px;
        flex-wrap: wrap;
        cursor: pointer;

        li{
          border: 1px solid $color-blog-border;
          background-color: white;
          padding: 5px 15px;
          transition: 0.3s;
          a{
            color: $accent-color;
          }
          &:hover{
            background-color: $color-primary;
            a{
            color: white;
            }
          }
        }
      }
    }
    &--instagram{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: $color-blog-background;
      width: 100%;
      padding: 2rem;
      gap: 2rem;
      h3{
        border-bottom: 1px solid $color-blog-border;
        padding: 20px 0;
      }
      .ig-container{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 1rem;
        img{
          cursor: pointer;
          width: 100%;
        }
      }
    }
    &--newsletter{
      display: flex;
      flex-direction: column;
      justify-content: center;
      background-color: $color-blog-background;
      padding: 2rem;
      gap: 2rem;
      width: 100%;
      h3{
        border-bottom: 1px solid $color-blog-border;
        padding: 20px 0;
      }
      .email{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        input{
          border: 1px solid $color-blog-border;
          padding: 1rem;
          width: 100%;
        }
      }
      .btn--send{
        width: 100%;
        text-align: center;
      }
    }
  }