.btn{
    padding: 1.3rem 2.5rem;
   background-color: $color-secondary;
   border-radius: 5px;
   color: white;
   transition: 0.4s ease-in-out;
   &:hover{
    background-color: $color-primary;
   }
}
.btn--enter{
    @include button-style($color-primary , $color-secondary);
    padding: 1rem 2rem;
    font-weight: 500;
}
.btn--small{
    @include button-style($color-secondary, $color-primary);
    padding:0.3rem 0.7rem;
    border-radius: 60px;
}
.btn--enter , .reset{
    width: 100%;
     text-align: center;
     a{
     color: white;
     font-weight: 500;
     }
   }