.btn{
    padding: 1.3rem 2.5rem;
   background-color: $color-secondary;
   border-radius: 5px;
   color: white;
   transition: 0.4s ease-in-out;
   &:hover{
    background-color: $color-primary;
   }
}
.btn--search{
    @include button-style($color-primary , $color-secondary);
    padding: 1rem 2.5rem;
}