*{
    font-family: 'Rubik';
}
.nav__bar{
    a{
        font-size: 15px;
    }
}
.hero__title{
    h3{
        font-family: 'Nothing You Could Do';
        font-size: 120px;
        font-weight: 400;
    }
    p{
        font-size: 20px;
    }
}
.btn{
    font-weight: 500;
    &--search{
        font-weight: 500;
    }
}
.travel-query{
    h3{
        padding: 2rem;
        font-size: 24px;
        font-weight: 400;
    }
    input{
        &::placeholder{
            font-size: 16px;
            color: #AAB1B7;
        }
    }
    select{
            font-size: 16px;
    }
}
.popular-destination{
    &__title{
        h3{
            font-size: 38px;
            font-weight: 400;
        }
    }
    &__card{
        p{
            font-size: 22px;
            color: white;
            a{
                font-size: 12px;
            }
        }
    }
}