*{
    font-family: 'Rubik';
}
.nav__bar{
    a{
        font-size: 15px;
    }
}
.hero__title{
    h3{
        font-family: 'Nothing You Could Do';
        font-size: 120px;
    }
    p{
        font-size: 20px;
    }
}
.btn{
    font-weight: 500;
}