.hero-blog {
  position: relative;
  width: 100%;
  background-image: url(/src/images/hero-blog.png);
  height: 60vh;
  margin-top: 110px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;

  @include for-desktop-up {
    height: 40vh;
    margin-top: 70px;
  }

  @include for-tablet-landscape-up {
    height: 50vh;
  }

  &::before {
    position: absolute;
    content: " ";
    background-color: $color-background;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0.1;
  }

  &--title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 3rem;
    line-height: 1;
    gap: 5px;
    z-index: 3;
    color: white;

    p {
      text-align: center;
      padding-bottom: 2rem;
    }
  }

}

.blog {
  padding: 5rem 11%;
  display: flex;
  justify-content: center;
  gap: 2rem;

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;

    &--card {
      display: flex;
      flex-direction: column;
      position: relative;
      box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;

      .card-image {
        width: 100%;
      }

      .calendar {
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: white;
        padding: 1rem 1.8rem;
        border-radius: 5px;
        background-color: $color-primary;
        position: absolute;
        top: 50%;
        left: 5%;
        transition: 0.2s linear;
        &:hover{
          background:none;
          color: $color-primary;
        }

      }

      .card__title {
        padding: 3rem 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 0.7rem;
        h2{
          transition: 0.2s;
          cursor: pointer;
          &:hover{
            color: $color-primary;
          }
        }

        p {
          line-height: 2;
          color: $accent-color;
        }

        &--end {
          display: flex;
          gap: 20px;
          li:hover{
            i , a{
              color: $color-primary;
            }
          }

          i {
            color: gray;
            font-size: 11px;
          }

          a {
            color: $accent-color;
            font-size: 14px;
            
          }

          li:nth-child(2) {
            padding: 0 10px;
            border-left: 2px solid $accent-color;
          }
        }
      }
    }
    &--slider{
      display: flex;
      gap: 10px;
      a{
       border: 1px solid #efeaf9;
       padding: 10px 15px;
       color: gray;
       &:hover{
        color: $color-primary;
        }
      }
      .active{
        background-color: #FBF9FF;
        &:hover{
          background-color: white;
          color: $color-primary;
          }
       }
    }
  }
  &__info{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 2rem;
    &--search{
      display: flex;
      flex-direction: column;
      justify-content: center;
      background-color: #FBF9FF;
      padding: 2rem;
      width: 100%;
      gap: 1rem;
      .search{
        display: flex;
        align-items: center;
        position: relative;
        input{
          border: 1px solid #efeaf9;
          padding: 1rem;
          width: 100%;
          outline: none;
        }
        i{
          color: $accent-color;
          padding:0.5rem;
          position: absolute;
          right: 0;
        }
      }
      .btn--send{
        width: 100%;
        text-align: center;
      }
    }
    &--category{
    display: flex;
    flex-direction: column;
    background-color: #FBF9FF;
    padding: 2rem;
    gap: 2rem;
    width: 100%;
    h4{
      border-bottom: 1px solid #efeaf9;
      padding: 10px;
    }
    ul{
      display: flex;
      flex-direction: column;
      gap: 10px;
      li{
        border-bottom: 1px solid #efeaf9;
        padding-bottom: 20px;
        a{
          color: $accent-color;
        }
      }
    }
    }
    &--post{
      
    }
  }
}