.hero-blog {
  position: relative;
  width: 100%;
  background-image: url(/src/images/hero-blog.png);
  height: 60vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;

  @include for-desktop-up {
    height: 40vh;
  }

  @include for-tablet-landscape-up {
    height: 50vh;
  }

  &::before {
    position: absolute;
    content: " ";
    background-color: $color-background;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0.1;
  }

  &--title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 3rem;
    line-height: 1;
    gap: 5px;
    z-index: 3;
    color: white;

    p {
      text-align: center;
      padding-bottom: 2rem;
    }
  }

}

.blog {
  padding: 5rem 12%;
  display: flex;
  justify-content: center;
  gap: 2rem;
  @include for-desktop-up {
    padding: 3.5rem 4%;
    align-items: center;
    flex-direction: column;
}
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;

    &--card {
      display: flex;
      flex-direction: column;
      box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
      .card--img{
        position: relative;
        img{
          width: 100%;
        }
      .calendar {
        color: white;
        padding: 1rem 2rem;
        border-radius: 5px;
        background-color: $color-primary;
        position: absolute;
        bottom: -20px;
        left: 20px;
        transition: 0.2s linear;
        @include for-phone-only{
          padding: 10px 15px;
        }
        a{
          color: white;
        }
        &:hover{
          background:none;
          color: $color-primary;
        }
      }

      }

      .card__text {
        padding: 3rem 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1rem;
        @include for-phone-only{
          padding: 2rem 1rem;
      }
        h2{
          transition: 0.2s;
          cursor: pointer;
          &:hover{
            color: $color-primary;
          }
        }

        p {
          line-height: 2;
          color: $accent-color;
        }

        &--end {
          display: flex;
          gap: 20px;
          li:hover{
            i , a{
              color: $color-primary;
            }
          }

          i {
            color: gray;
            font-size: 11px;
          }

          a {
            color: $accent-color;
            font-size: 14px;
            
          }

          li:nth-child(2) {
            padding: 0 10px;
            border-left: 2px solid $accent-color;
          }
        }
      }
    }
    &--slider{
      display: flex;
      gap: 10px;
      a{
       border: 1px solid $color-blog-border;
       padding: 10px 15px;
       color: gray;
       &:hover{
        color: $color-primary;
        }
      }
      .active{
        background-color: $color-blog-background;
        &:hover{
          background-color: white;
          color: $color-primary;
          }
       }
    }
  }
}