.hero-destination{
position: relative;
width: 100%;
background-image: url(/src/images/destination.png);
height: 60vh;
margin-top: 110px;
background-position: center;
background-repeat: no-repeat;
background-size: auto;
display: flex;
align-items: center;
justify-content: center;
@include for-desktop-up{
    height: 40vh;
    margin-top: 70px;
}
@include for-tablet-landscape-up{
    height: 50vh;
}
&::before {
    position: absolute;
    content: " ";
    background-color: $color-background;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0.2;
  }
  
  &--title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 3rem;
    line-height: 1;
    gap: 5px;
    z-index: 3;
    color: white;

    p {
      text-align: center;
      padding-bottom: 2rem;
    }
  }

}
.destinations{
  padding: 3.5rem 12%;
  display: flex;
 justify-content: center;
 background-color: #F7FAFD;
 &__price{
  display: flex;
  flex-direction: column;
 gap: 2rem;
  &--container{
    border: 1px solid $accent-color;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
    gap: 2rem;
  }
 }
}
// prise-range
.range-slider {
  height: 5px;
  position: relative;
  background-color: #e1e9f6;
  border-radius: 2px;
}
.range-selected {
  height: 100%;
  left: 30%;
  right: 30%;
  position: absolute;
  border-radius: 5px;
  background-color: #1b53c0;
}
.range-input {
  position: relative;
}
.range-input input {
  position: absolute;
  width: 100%;
  height: 5px;
  top: -7px;
  background: none;
  pointer-events: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.range-input input::-webkit-slider-thumb {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border: 3px solid #1b53c0;
  background-color: #fff;
  pointer-events: auto;
  -webkit-appearance: none;
}
.range-input input::-moz-range-thumb {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  border: 3px solid #1b53c0;
  background-color: #fff;
  pointer-events: auto;
  -moz-appearance: none;
}
.range-price {
  margin: 30px 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.range-price label {
  margin-right: 5px;
}
.range-price input {
  width: 80px;
  padding: 5px;
}
.range-price input:first-of-type {
  margin-right: 15px;
}
.popular-places{
  .destination-cards{
    display: grid;
    grid-template-columns: repeat(2,1fr);
  }
}