// hero section
.hero {
  height: 95vh;
  width: 100%;
  position: relative;
  z-index: 2;
  background-image: url(/src/images/Switzerland.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;

  @include for-desktop-up {
    height: 60vh;
  }

  &::before {
    position: absolute;
    content: " ";
    background-color: $color-background;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: .1;
  }

  .hero__title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 3rem;
    line-height: 1;
    gap: 5px;
    z-index: 3;
    color: white;

    p {
      text-align: center;
      padding-bottom: 2rem;
    }
  }

  .chevron-left {
    position: absolute;
    top: 60%;
    left: 0;
    transform: translate(0, -70%);
    background-color: rgba(178, 178, 178, 0.236);
    color: #fff;
    padding: 3rem 1rem;
    cursor: pointer;
    z-index: 999;
    transition: 0.2s ease-in;

    @include for-desktop-up {
      display: none;
    }

    &:hover {
      background: #fff;
      color: black;
      transition: .6s;
    }
  }

  .chevron--right {
    position: absolute;
    top: 60%;
    right: 0;
    transform: translate(0, -70%);
    background-color: rgba(178, 178, 178, 0.236);
    color: #fff;
    padding: 3rem 1rem;
    z-index: 999;
    transition: 0.2s ease-in;
    cursor: pointer;

    @include for-desktop-up {
      display: none;
    }

    &:hover {
      background-color: #fff;
      color: #000;
    }

  }
}


// travel query section
.hero-query {
  padding: 3.5rem 12%;
  background-color: $color-background;
  color: #fff;
  gap: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;

  @include for-desktop-up {
    flex-direction: column;
    align-items: start;
    gap: 15px;
    padding: 3rem 4%;
  }

  input {
    background-color: $color-background;
    color: $accent-color;
    border: 1px $accent-color solid;
    border-radius: 5px;
    padding: 1rem 3rem 1rem 0.6rem;

    @include for-desktop-up {
      width: 100%;
    }

  }

  select {
    background-color: $color-background;
    color: $accent-color;
    border: 1px $accent-color solid;
    border-radius: 5px;
    padding: 0.8rem 5rem 0.8rem 0.4rem;

    @include for-desktop-up {
      width: 100%;
    }

    option {
      background-color: white;
      color: black;
    }
  }
}

// Popular destination
.popular-destination {
  padding: 3.5rem 12%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;

  @include for-desktop-up {
    padding: 3rem 4%;

  }

  &__title {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    width: 47%;

    @include for-desktop-up {
      width: 100%;
    }

    p {
      color: $accent-color;
      text-align: center;
      line-height: 1.6;

    }
  }

  &__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;

    @include for-desktop-up {
      grid-template-columns: repeat(2, 1fr);

    }

    @include for-phone-only {
      grid-template-columns: repeat(1, 1fr);
    }
  }


  .popular-destination__card {
    overflow: hidden;
    position: relative;
    border: 1px solid rgba(0, 0, 0, 0.123);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 5px;

    &::before {
      position: absolute;
      content: " ";
      background: -webkit-linear-gradient(top, rgba(4, 14, 39, 0) 0%, $color-background 100%);
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      opacity: .6;
    }

    p {
      display: flex;
      gap: 10px;
      align-items: center;
      position: absolute;
      bottom: 0;
      left: 0;
      padding: 2rem;
      transition: 0.4s linear;
    }

    transition: 0.4s ease;

    &:hover {
      transform: translateY(-15px);

      .btn--small {
        background-color: $color-primary;
      }

      p {
        color: $color-primary;
      }
    }
  }
}

// subscribe section
.subscribe {
  padding: 3.5rem 12%;
  display: flex;
  justify-content: center;
  gap: 2rem;
  align-items: center;
  position: relative;
  background-image: url(/src/images/subscribe.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  z-index: 1;

  @include for-desktop-up {
    padding: 3rem 4%;

  }

  @include for-tablet-landscape-up {
    flex-direction: column;
    align-items: start;
  }

  &::before {
    position: absolute;
    content: " ";
    background-color: $color-background;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0.7;
    z-index: -1;
  }

  &__title {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 35%;

    @include for-tablet-landscape-up {
      width: 100%;
    }

    h4 {
      color: white;
    }

    p {
      color: $accent-color;
    }
  }

  &__form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 47%;

    @include for-tablet-landscape-up {
      width: 100%;
      flex-direction: column;
      align-items: start;
    }

    input {
      border: 1px rgba(0, 0, 0, 0.188) solid;
      border-radius: 5px;
      padding: 1rem;
      width: 100%;
    }

    .btn--enter {
      @include for-tablet-landscape-up {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }




}



// popular places
.popular-places {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  background-color: #F7FAFD;
  padding: 3.5rem 12%;

  @include for-desktop-up {
    padding: 3rem 4%;
  }

  &__title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;

    p {
      color: $accent-color;
    }
  }

  &__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;

    @include for-tablet-landscape-up {
      grid-template-columns: repeat(2, 1fr);
    }

    @include for-phone-only {
      grid-template-columns: repeat(1, 1fr);
    }

    .popular-places__card {
      overflow: hidden;
      border: 1px solid rgba(0, 0, 0, 0.072);
      border-radius: 10px;
      background-color: white;
      position: relative;
      transition: 0.4s ease;

      &:hover {
        color: $color-primary;

        .btn--small {
          background-color: $color-primary;
        }

        box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
      }

      .btn--small {
        position: absolute;
        top: 20px;
        left: 20px;
        padding: 8px 16px;
      }

      &--info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 10px;
        padding: 2rem 1rem;

        p {
          color: $accent-color;
        }
      }
    }
  }

  .info-review {
    display: flex;
    justify-content: space-between;

    span {
      align-items: flex-start;
      font-size: 14px;
    }

    .fa-star {
      font-size: 10px;
      color: #FDAE5C;
    }

    a {
      color: $accent-color;
    }

    .clock {
      display: flex;
      align-items: center;
      gap: 10px;
      font-size: 14px;

      .fa-clock {
        color: rgb(94, 93, 93);
      }
    }
  }

  .btn--enter {
    position: relative;
  }
}

// enjoy video 
.video {
  display: flex;
  flex-direction: column;

  &__container {
    position: relative;
    overflow: hidden;
  }

  &__title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;

    h3 {
      color: white;
    }
  }

  &__btn {
    // overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color-secondary;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    cursor: pointer;

    i {
      color: white;
      z-index: 2;
    }

    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: $color-secondary;
      border-radius: 50%;
      transform: scale(0.8);
      opacity: 0.6;
      z-index: -1;
      animation: pulse 2s infinite;
    }

    @keyframes pulse {
      0% {
        transform: scale(1);
        opacity: 0.6;
      }

      50% {
        transform: scale(1.5);
        opacity: 0.3;
      }

      100% {
        transform: scale(2);
        opacity: 0;
      }
    }
  }
}

// advantages
.advantages {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  padding: 3.5rem 12%;
 @include for-desktop-up{
  padding: 3rem 4%;
 }
 @include for-tablet-landscape-up{
  grid-template-columns: repeat(2,1fr);
 }
 @include for-phone-only{
  grid-template-columns: repeat(1,1fr);
 }
  &__card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2rem;
    gap: 2rem;

    &--title {
      line-height: 2;

      p {
        color: $accent-color;
      }
    }
  }
}

// quotes
.quotes {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #F7FAFD;
  padding: 2rem;

  &__card {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 2rem;

    &--image {
      position: relative;

      i {
        font-size: 18px;
        position: absolute;
        background-color: $color-secondary;
        border-radius: 50%;
        color: white;
        padding: 1rem;
        bottom: -10px;
        right: -10px;
      }
    }

    &--title {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      line-height: 2;

      h4 {
        color: $accent-color;
      }

 
    }

    &--dots {
      display: flex;
      gap: 10px;
      font-size: 12px;
      color: $accent-color;
      cursor: pointer;

      .active {
        color: $color-primary;
      }
    }
  }
}