// hero section
.hero {
  height: 95vh;
  width: 100%;
  position: relative;
  z-index: 2;
  background-image: url(/src/images/Switzerland.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;

  &::before {
    position: absolute;
    content: " ";
    background-color: $color-background;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: .1;
  }

  .hero__title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 3rem;
    line-height: 1;
    gap: 5px;
    z-index: 3;
    color: white;

    p {
      text-align: center;
      padding-bottom: 2rem;
    }
  }

  .chevron-left {
    position: absolute;
    top: 60%;
    left: 0;
    transform: translate(0, -70%);
    background-color: rgba(178, 178, 178, 0.236);
    color: #fff;
    padding: 3rem 1rem;
    cursor: pointer;
    z-index: 999;
    transition: 0.2s ease-in;

    &:hover {
      background: #fff;
      color: black;
      transition: .6s;
    }
  }

  .chevron--right {
    position: absolute;
    top: 60%;
    right: 0;
    transform: translate(0, -70%);
    background-color: rgba(178, 178, 178, 0.236);
    color: #fff;
    padding: 3rem 1rem;
    z-index: 999;
    transition: 0.2s ease-in;
    cursor: pointer;

    &:hover {
      background-color: #fff;
      color: #000;
    }

  }
}

// @include for-phone-only {
//   .hero {
//     height: 45vh;

//     &__title {
//       h3 {
//         padding: 1rem;
//         font-size: 50px;
//       }

//       p {
//         text-align: center;
//       }
//     }
//     .chevron-left{
//       display: none;
//     }
//     .chevron--right{
//       display: none;
//     }
//   }
// }

// @include for-tablet-portrait-up {
//   .hero {
//     height: 70vh;

//     &__title {
//       h3 {
//         font-size: 70px;
//         padding: 1rem;
//       }

//       p {
//         text-align: center;
//         margin-bottom: 5%;
//       }
//     }
//   }
// }


// @include for-desktop-up {
//   .hero {
//     height: 85vh;
//   }
// }


// travel query section
.travel-query {
  color: #fff;
  gap: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $color-background;
  width: 100%;
  padding: 1.5rem 10%;

  input {
    background-color: $color-background;
    color: $accent-color;
    border: 0.5px $accent-color solid;
    border-radius: 5px;
    padding: 1rem 3rem 1rem 0.6rem;
  }

  select {
    background-color: $color-background;
    color: $accent-color;
    border: 0.5px $accent-color solid;
    border-radius: 5px;
    padding: 0.8rem 5rem 0.8rem 0.4rem;

    option {
      background-color: white;
      color: black;
    }
  }
}

// @include for-big-desktop-up {
//   .travel-query {
//     padding: 1.2rem 4%;
//     flex-direction: column;
//     align-items: start;

//     h3 {
//       padding: .2rem;
//       font-size: 20px;
//       font-weight: 400;
//     }

//     input {
//       width: 100%;
//     }

//     select {
//       width: 100%;
//     }
//   }
// }

// @include for-phone-only {}


// Popular destination
.popular-destination {
padding-bottom: 7%;
  &__title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 30px;
    padding-top: 10%;
    padding-bottom: 2rem;

    p {
      width: 40%;
      color: $accent-color;
    }
  }

  &__container {

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
    padding: 2rem 12%;
  }
}

.popular-destination__card {
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.123);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 5px;
  background-repeat: no-repeat;
  background-size: cover;

  &::before {
    position: absolute;
    content: " ";
    background: -webkit-linear-gradient(top, rgba(4, 14, 39, 0) 0%, $color-background 100%);
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: .6;
  }

  p {
    display: flex;
    gap: 10px;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 2rem;
    transition: 0.4s linear;
  }

  transition: 0.4s ease;

  &:hover {
    transform: translateY(-15px);

    .btn--small {
      background-color: $color-primary;
    }

    p {
      color: $color-primary;
    }
  }
}

// @include for-phone-only {
//   .popular-destination__container {
//     grid-template-columns: 1fr;
//   }

//   .popular-destination__title {
//     h3 {
//       font-size: 30px;
//     }

//     p {
//       font-size: 16px;
//     }
//   }
// }

// @include for-tablet-portrait-up {
//   .popular-destination__container {
//     grid-template-columns: repeat(2, 1fr);
//   }

//   .popular-destination__title {
//     h3 {
//       font-size: 36px;
//     }
//   }
// }

// @include for-desktop-up {
//   .popular-destination__container {
//     grid-template-columns: repeat(3, 1fr);
//   }
// }

// subscribe section
.subscribe {
  position: relative;
  background-image: url(/src/images/subscribe.png);
  background-position: center;
  background-repeat: no-repeat;
  padding: 4rem 15%;
  z-index: 1;

  &::before {
    position: absolute;
    content: " ";
    background-color: $color-background;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0.7;
    z-index: -1;
  }

  &__form {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 20px;
    width: 60%;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: 1rem;

    input {
      border: 1px rgba(0, 0, 0, 0.188) solid;
      border-radius: 5px;
      padding: 1rem;
      width: 80%;


    }
  }

  &__title {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 30%;

    h4 {
      color: white;
    }

    p {
      color: $accent-color;
    }
  }
}

// popular places
.popular-places {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  background-color: #F7FAFD;
  padding-bottom: 10%;
  &__title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 10%;
    padding-bottom: 2rem;
    text-align: center;
    gap: 20px;
  p{
    width: 55%;
    color: $accent-color;
  }
  }

  &__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    padding-bottom: 3rem;
    .popular-places__card {
      overflow: hidden;
      border: 1px solid rgba(0, 0, 0, 0.072);
      border-radius: 10px;
      background-color: white;
      position: relative;
      transition: 0.4s ease;
      &:hover{
        color: $color-primary;
        .btn--small{
          background-color: $color-primary;
        }
        box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;       }
      .btn--small{
        position: absolute;
        top: 20px;
        left: 20px;
        padding: 8px 16px;
      }
      &--info{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 10px;
        padding: 2rem 1rem;
        p{
          color: $accent-color;
        }
      }
    }
  }
  .info-review{
    display: flex;
    justify-content: space-between;
    span{
      align-items: flex-start;
      font-size: 14px;
    }
    .fa-star{
      font-size: 10px;
      color: #FDAE5C;
    }
    a{
      color: $accent-color;
    }
    .clock{ 
      display: flex;
      align-items: center;
      gap: 10px;
      font-size: 14px;
     .fa-clock{
      color: rgb(94, 93, 93);
     }
    }
  }
  .btn--enter{
    position: relative;
  }
}

