// hero section
.hero {
  height: 95vh;
  width: 100%;
  position: relative;
  z-index: 2;
  background-image: url(/src/images/Switzerland.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;

  @include for-desktop-up {
    height: 60vh;
  }

  &::before {
    position: absolute;
    content: " ";
    background-color: $color-background;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: .1;
  }

  .hero__title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 3rem;
    line-height: 1;
    gap: 5px;
    z-index: 3;
    color: white;

    p {
      text-align: center;
      padding-bottom: 2rem;
    }
  }

  .chevron-left {
    position: absolute;
    top: 60%;
    left: 0;
    transform: translate(0, -70%);
    background-color: rgba(178, 178, 178, 0.236);
    color: #fff;
    padding: 3rem 1rem;
    cursor: pointer;
    z-index: 999;
    transition: 0.2s ease-in;

    @include for-desktop-up {
      display: none;
    }

    &:hover {
      background: #fff;
      color: black;
      transition: .6s;
    }
  }

  .chevron--right {
    position: absolute;
    top: 60%;
    right: 0;
    transform: translate(0, -70%);
    background-color: rgba(178, 178, 178, 0.236);
    color: #fff;
    padding: 3rem 1rem;
    z-index: 999;
    transition: 0.2s ease-in;
    cursor: pointer;

    @include for-desktop-up {
      display: none;
    }

    &:hover {
      background-color: #fff;
      color: #000;
    }

  }
}

// Popular destination
.popular-destination {
  padding: 3.5rem 12%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;

  @include for-desktop-up {
    padding: 3rem 4%;

  }

  &__title {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    width: 47%;

    @include for-desktop-up {
      width: 100%;
    }

    p {
      color: $accent-color;
      text-align: center;
      line-height: 1.6;

    }
  }

  &__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;

    @include for-desktop-up {
      grid-template-columns: repeat(2, 1fr);

    }

    @include for-phone-only {
      grid-template-columns: repeat(1, 1fr);
    }
  }


  .popular-destination__card {
    overflow: hidden;
    position: relative;
    border: 1px solid rgba(0, 0, 0, 0.123);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 5px;

    &::before {
      position: absolute;
      content: " ";
      background: -webkit-linear-gradient(top, rgba(4, 14, 39, 0) 0%, $color-background 100%);
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      opacity: .6;
    }

    p {
      display: flex;
      gap: 10px;
      align-items: center;
      position: absolute;
      bottom: 0;
      left: 0;
      padding: 2rem;
      transition: 0.4s linear;
    }

    transition: 0.4s ease;

    &:hover {
      transform: translateY(-15px);

      .btn--small {
        background-color: $color-primary;
      }

      p {
        color: $color-primary;
      }
    }
  }
}

// enjoy video 
.video {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  &__container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  
  }

  &__title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;

    h3 {
      color: white;
    }
  }

  &__btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color-secondary;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    cursor: pointer;

    i {
      color: white;
      z-index: 2;
    }

    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: $color-secondary;
      border-radius: 50%;
      transform: scale(0.8);
      opacity: 0.6;
      z-index: -1;
      animation: pulse 2s infinite;
    }

    @keyframes pulse {
      0% {
        transform: scale(1);
        opacity: 0.6;
      }

      50% {
        transform: scale(1.5);
        opacity: 0.3;
      }

      100% {
        transform: scale(2);
        opacity: 0;
      }
    }
  }
}
