@mixin for-phone-only {
  @media (max-width: 576px) { 
    @content; 
  }
}

@mixin for-tablet-portrait-up {
  @media (max-width: 600px) { 
    @content; 
  }
}

@mixin for-tablet-landscape-up {
  @media (max-width: 768px) { 
    @content; 
  }
}

@mixin for-desktop-up {
  @media (max-width: 992px) { 
    @content; 
  }
}

@mixin for-big-desktop-up {
  @media (max-width: 1200px) { 
    @content; 
  }
}

  
  @mixin button-style($bg-color, $hover-bg) {
    background-color: $bg-color;
    color: white;
    transition: 0.4s ease-in-out;
    border-radius: 5px;
    &:hover {
      background-color: $hover-bg;
    }
  }