header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 999;
    width: 100%;
    background-color: #fff;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

.logo {
    padding-left: 2rem;
}

.nav__bar {
    display: flex;
    justify-content: center;
    gap: 2.5rem;
    margin: 0 4rem;

    a {
        color: black;
        transition: 0.2s;

        &:hover {
            color: $color-secondary;
        }
    }
}

.dropdown {
    display: flex;
    align-items: center;
    gap: 10px;
    position: relative;
    transition: 0.6 ease-in-out;

    &__icon {
        width: 10px;
        height: 10px;
        fill: black;
    }
}

.dropdown__content {
    position: absolute;
    display: none;
    top: 100%;
    left: 0;
    z-index: 1;
    padding-top: 2rem;
    padding-bottom: 1rem;
    background-color: white;
    width: 12rem;
    line-height: 2rem;

    a {
        padding-left: 10px;
        text-align: left;
    }
}

.dropdown:hover .dropdown__content {
    display: block;
}

.interact {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    .phone {
        display: flex;
        gap: 10px;

        &__icon {
            width: 14px;
            height: 14px;
            fill: $color-primary;
            transition: 0.6s;

            &:hover {
                fill: $accent-color;
            }
        }

        span {
            font-size: 14px;
        }
    }

    .social {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-left: 1rem;
        border-left: 1px solid #a4a4a4;
        gap: 15px;

        &__icon {
            fill: $accent-color;
            transition: 0.6s;

            &:hover {
                fill: $color-primary;
            }
        }


    }

    .search {
        background-color: $color-primary;
        padding: 50px 35px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        i {
            color: #fff;
        }
    }
}

.bars {
    display: none;
}

@media (max-width:991px) {
    header {
        .bars {
            display: block;
            padding-left: 1.2rem;
            i {
                color: $color-primary;

                font-size: 2rem;
            }
        }

        nav {
            .logo {
                padding-left: 0;

            }

            .nav__bar {
                display: none;
            }
        }

        .interact {
            justify-content: space-between;

            .phone {
                display: none;
            }

            .social {
                display: none;
            }

            .search {
                padding: 27px;
            }


        }
    }
}