* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  border: none;
  outline: none;
}

*::-moz-selection {
  background: rgb(51, 51, 51);
  color: white;
}

*::selection {
  background: rgb(51, 51, 51);
  color: white;
}

@font-face {
  font-family: "Rubik";
  src: url("../fonts/Rubik-LightItalic.woff2") format("woff2"), url("../fonts/Rubik-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Rubik";
  src: url("../fonts/Rubik-Light.woff2") format("woff2"), url("../fonts/Rubik-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Rubik";
  src: url("../fonts/../fonts/Rubik-SemiBoldItalic.woff2") format("woff2"), url("../fonts/../fonts/Rubik-SemiBoldItalic.woff") format("woff");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Rubik";
  src: url("../fonts/Rubik-SemiBold.woff2") format("woff2"), url("../fonts/Rubik-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Rubik";
  src: url("../fonts/Rubik-Regular.woff2") format("woff2"), url("../fonts/Rubik-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Rubik";
  src: url("../fonts/Rubik-Bold.woff2") format("woff2"), url("../fonts/Rubik-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Rubik";
  src: url("../fonts/Rubik-BoldItalic.woff2") format("woff2"), url("../fonts/Rubik-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Rubik";
  src: url("../fonts/Rubik-ExtraBoldItalic.woff2") format("woff2"), url("../fonts/Rubik-ExtraBoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Rubik";
  src: url("../fonts/Rubik-Black.woff2") format("woff2"), url("../fonts/Rubik-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Rubik";
  src: url("../fonts/Rubik-LightItalic.woff2") format("woff2"), url("../fonts/Rubik-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Rubik";
  src: url("../fonts/Rubik-Italic.woff2") format("woff2"), url("../fonts/Rubik-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Rubik";
  src: url("../fonts/Rubik-Medium.woff2") format("woff2"), url("../fonts/Rubik-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Rubik";
  src: url("../fonts/Rubik-Light.woff2") format("woff2"), url("../fonts/Rubik-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Rubik";
  src: url("../fonts/Rubik-MediumItalic.woff2") format("woff2"), url("../fonts/Rubik-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Rubik";
  src: url("../fonts/Rubik-ExtraBold.woff2") format("woff2"), url("../fonts/Rubik-ExtraBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Rubik";
  src: url("../fonts/Rubik-BlackItalic.woff2") format("woff2"), url("../fonts/Rubik-BlackItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Nothing You Could Do";
  src: url("../fonts/NothingYouCouldDo.woff2") format("woff2"), url("../fonts/NothingYouCouldDo.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
* {
  font-family: "Rubik";
  font-weight: 400;
}

.nav__bar a {
  font-size: 15px;
}

.hero__title h3 {
  font-family: "Nothing You Could Do";
  font-size: 120px;
}
@media (max-width: 992px) {
  .hero__title h3 {
    font-size: 60px;
  }
}
.hero__title p {
  font-size: 20px;
}
@media (max-width: 992px) {
  .hero__title p {
    line-height: 1.6;
  }
}

.btn {
  font-weight: 500;
}
.btn--search {
  font-weight: 500;
}

.travel-query h3 {
  padding: 2rem;
  font-size: 24px;
  font-weight: 400;
}
.travel-query input::-moz-placeholder {
  font-size: 16px;
  color: #AAB1B7;
}
.travel-query input::placeholder {
  font-size: 16px;
  color: #AAB1B7;
}
.travel-query select {
  font-size: 16px;
}

@media (max-width: 576px) {
  .popular-destination__title {
    padding: 0 0.7rem;
  }
}
.popular-destination__title h3 {
  font-size: 38px;
  text-align: center;
}
@media (max-width: 576px) {
  .popular-destination__title h3 {
    font-size: 30px;
  }
}
.popular-destination__card p {
  font-size: 22px;
  color: white;
}
.popular-destination__card p a {
  font-size: 12px;
}

.subscribe__title h4 {
  font-size: 24px;
}
.subscribe__form input::-moz-placeholder {
  font-size: 16px;
}
.subscribe__form input::placeholder {
  font-size: 16px;
}

.popular-places__title h3 {
  font-size: 38px;
}
.popular-places__card--info h3 {
  font-size: 22px;
}
.popular-places__card--info p {
  font-size: 14px;
}

.video__title h3 {
  font-family: "Nothing You Could Do";
  font-size: 80px;
}
@media (max-width: 768px) {
  .video__title h3 {
    font-size: 45px;
    text-align: center;
    width: 100%;
  }
}

.advantages__card--title h3 {
  font-size: 22px;
}

.quotes__card--title p {
  font-size: 18px;
  text-align: center;
}

.trips__title h3 {
  font-size: 38px;
}
.trips .trips__card--title h3 {
  font-size: 22px;
}
.trips .trips__card--title span {
  font-size: 14px;
}

footer h3 {
  font-size: 20px;
}
footer a, footer span {
  font-size: 14px;
}

.hero-about--title {
  line-height: 2;
}
.hero-about--title h3 {
  font-family: "Nothing You Could Do";
  font-size: 80px;
}
@media (max-width: 768px) {
  .hero-about--title h3 {
    font-size: 60px;
  }
}
.hero-about--title p {
  font-size: 18px;
}
@media (max-width: 768px) {
  .hero-about--title p {
    font-size: 15px;
  }
}

.hero-destination--title {
  line-height: 2;
}
.hero-destination--title h3 {
  font-family: "Nothing You Could Do";
  font-size: 80px;
}
@media (max-width: 768px) {
  .hero-destination--title h3 {
    font-size: 60px;
  }
}
.hero-destination--title p {
  font-size: 18px;
}
@media (max-width: 768px) {
  .hero-destination--title p {
    font-size: 15px;
  }
}

.hero-blog--title {
  line-height: 2;
}
.hero-blog--title h3 {
  font-family: "Nothing You Could Do";
  font-size: 80px;
}
@media (max-width: 768px) {
  .hero-blog--title h3 {
    font-size: 60px;
  }
}
.hero-blog--title p {
  font-size: 18px;
}
@media (max-width: 768px) {
  .hero-blog--title p {
    font-size: 15px;
  }
}

.hero-single-blog--title {
  line-height: 2;
}
.hero-single-blog--title h3 {
  text-align: center;
  font-family: "Nothing You Could Do";
  font-size: 80px;
}
@media (max-width: 768px) {
  .hero-single-blog--title h3 {
    font-size: 60px;
  }
}
.hero-single-blog--title p {
  font-size: 18px;
}
@media (max-width: 768px) {
  .hero-single-blog--title p {
    font-size: 15px;
  }
}

.hero-contact--title {
  line-height: 2;
}
.hero-contact--title h3 {
  font-family: "Nothing You Could Do";
  font-size: 80px;
}
@media (max-width: 768px) {
  .hero-contact--title h3 {
    font-size: 60px;
  }
}
.hero-contact--title p {
  font-size: 18px;
}
@media (max-width: 768px) {
  .hero-contact--title p {
    font-size: 15px;
  }
}

.story__numbers--card span {
  font-size: 60px;
}
.story .heading {
  font-size: 30px;
}

.destinations__price h3 {
  font-weight: 500;
}
.destinations__price--container select {
  font-size: 16px;
}

.get-in-touch h2 {
  font-size: 27px;
  font-weight: 600;
}

.contact__info--card h3 {
  font-size: 16px;
  font-weight: 500;
}

.blog .calendar h3 {
  font-size: 30px;
  font-weight: 600;
}
.blog .calendar p {
  font-size: 18px;
}
@media (max-width: 576px) {
  .blog .calendar h3 {
    font-size: 20px;
  }
}
.blog .card__text h2 {
  font-size: 24px;
  font-weight: 600;
}
@media (max-width: 576px) {
  .blog .card__text h2 {
    font-size: 16px;
  }
}
.blog__info h3 {
  font-size: 20px;
  font-weight: 500;
}
.blog__info--post .post--text {
  line-height: 2;
}
.blog__info--post .post--text h4 {
  font-size: 16px;
  font-weight: 500;
}
.blog__info--post .post--text p {
  font-size: 14px;
}
.blog__info--tag a {
  font-size: 13px;
}

.single h4 {
  font-weight: 500;
}
.single__text--title h2 {
  font-size: 24px;
  font-weight: 600;
}
@media (max-width: 576px) {
  .single__text--title h2 {
    font-size: 20px;
  }
}
.single__post--cards h4 {
  font-size: 18px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  background-color: #fff;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

.logo {
  padding-left: 2rem;
}

.nav__bar {
  display: flex;
  justify-content: center;
  gap: 2.5rem;
  margin: 0 4rem;
}
.nav__bar i {
  font-size: 9px;
}
.nav__bar a {
  color: black;
  transition: 0.2s;
}
.nav__bar a:hover {
  color: #20C6B6;
}

.dropdown {
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
}
.dropdown__icon {
  width: 10px;
  height: 10px;
  fill: black;
}
.dropdown__content {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  background-color: white;
  width: 12rem;
  line-height: 2rem;
  opacity: 0;
  cursor: pointer;
  padding: 1rem 0.5rem 1rem 1rem;
  transform: translateY(-10px);
  transition: opacity 0.4s ease-in-out, transform 0.4s ease-in-out;
  pointer-events: none;
}
.dropdown__content a {
  padding-left: 10px;
  text-align: left;
}
.dropdown:hover .dropdown__content, .dropdown:focus-within .dropdown__content {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}
.dropdown:not(:hover):not(:focus-within) .dropdown__content {
  opacity: 0;
  transform: translateY(-10px);
}

.interact {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.interact .phone {
  display: flex;
  gap: 10px;
}
.interact .phone__icon {
  width: 14px;
  height: 14px;
  fill: #FF4A52;
  transition: 0.6s;
}
.interact .phone__icon:hover {
  fill: #9ca1a5;
}
.interact .phone span {
  font-size: 14px;
}
.interact .social {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 1rem;
  border-left: 1px solid #a4a4a4;
  gap: 15px;
}
.interact .social__icon {
  fill: #9ca1a5;
  transition: 0.6s;
}
.interact .social__icon:hover {
  fill: #FF4A52;
}
.interact .search {
  background-color: #FF4A52;
  padding: 50px 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.interact .search i {
  color: #fff;
}

.bars {
  display: none;
}

@media (max-width: 991px) {
  header {
    position: absolute;
  }
  header .bars {
    display: block;
    padding-left: 1.2rem;
  }
  header .bars i {
    color: #FF4A52;
    font-size: 2rem;
  }
  header nav .logo {
    padding-left: 0;
  }
  header nav .nav__bar {
    display: none;
  }
  header .interact {
    justify-content: space-between;
  }
  header .interact .phone {
    display: none;
  }
  header .interact .social {
    display: none;
  }
  header .interact .search {
    padding: 27px;
  }
}
footer {
  padding: 3.5rem 12%;
  background-color: #040E27;
}
@media (max-width: 992px) {
  footer {
    padding: 3rem 4%;
  }
}
footer a, footer i {
  color: #9ca1a5;
  transition: 0.4s ease;
}
footer a:hover, footer i:hover {
  color: #FF4A52;
}
footer .colorlib {
  color: #FF4A52;
}
footer h3 {
  color: white;
}
footer span {
  text-align: center;
}
footer span, footer p {
  color: #9ca1a5;
}
footer .footer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  padding: 2rem 0;
}
@media (max-width: 992px) {
  footer .footer {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 576px) {
  footer .footer {
    grid-template-columns: repeat(1, 1fr);
  }
}
footer .footer__social {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 10px;
}
footer .footer__social--logo {
  padding-bottom: 2rem;
}
footer .footer__social ul {
  padding: 3rem 1rem;
  display: flex;
  align-items: center;
  gap: 2rem;
}
footer .footer__social ul i {
  font-size: 15px;
}
footer .footer__company {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 2rem;
}
@media (max-width: 992px) {
  footer .footer__company {
    align-items: start;
  }
}
footer .footer__company ul {
  display: flex;
  flex-direction: column;
}
footer .footer__company ul li {
  line-height: 2;
}
footer .footer__destination {
  display: flex;
  flex-direction: column;
}
footer .footer__destination h3 {
  padding-bottom: 2rem;
}
footer .footer__destination ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
footer .footer__destination ul li {
  line-height: 2;
}
footer .footer__instagram {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 2rem;
}
footer .footer__instagram--container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}
footer .footer__instagram--container img {
  width: 100%;
  border-radius: 5px;
}
footer .footer__end {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  border-top: 1px solid #9ca1a5;
  padding-top: 2rem;
}

.btn {
  padding: 1.3rem 2.5rem;
  background-color: #20C6B6;
  border-radius: 5px;
  color: white;
  transition: 0.4s ease-in-out;
}
.btn:hover {
  background-color: #FF4A52;
}
.btn--enter {
  background-color: #FF4A52;
  color: white;
  transition: 0.4s ease-in-out;
  border-radius: 5px;
  padding: 1rem 2rem;
  font-weight: 500;
}
.btn--enter:hover {
  background-color: #20C6B6;
}
.btn--small {
  background-color: #20C6B6;
  color: white;
  transition: 0.4s ease-in-out;
  border-radius: 5px;
  padding: 0.3rem 0.7rem;
  border-radius: 60px;
}
.btn--small:hover {
  background-color: #FF4A52;
}
.btn--send {
  background-color: #20C6B6;
  color: white;
  transition: 0.4s ease-in-out;
  border-radius: 5px;
  padding: 1rem;
  border-radius: 0;
}
.btn--send:hover {
  background-color: #FF4A52;
}

.hero-query {
  padding: 3.5rem 12%;
  background-color: #040E27;
  color: #fff;
  gap: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}
@media (max-width: 992px) {
  .hero-query {
    flex-direction: column;
    align-items: start;
    gap: 15px;
    padding: 3rem 4%;
  }
}
.hero-query input {
  background-color: #040E27;
  color: #9ca1a5;
  border: 1px #9ca1a5 solid;
  border-radius: 5px;
  padding: 1rem 3rem 1rem 0.6rem;
}
@media (max-width: 992px) {
  .hero-query input {
    width: 100%;
  }
}
.hero-query select {
  background-color: #040E27;
  color: #9ca1a5;
  border: 1px #9ca1a5 solid;
  border-radius: 5px;
  padding: 0.8rem 5rem 0.8rem 0.4rem;
}
@media (max-width: 992px) {
  .hero-query select {
    width: 100%;
  }
}
.hero-query select option {
  background-color: white;
  color: black;
}

.subscribe {
  padding: 3.5rem 12%;
  display: flex;
  justify-content: center;
  gap: 2rem;
  align-items: center;
  position: relative;
  background-image: url(/src/images/subscribe.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  z-index: 1;
}
@media (max-width: 992px) {
  .subscribe {
    padding: 3rem 4%;
  }
}
@media (max-width: 768px) {
  .subscribe {
    flex-direction: column;
    align-items: start;
  }
}
.subscribe::before {
  position: absolute;
  content: " ";
  background-color: #040E27;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.7;
  z-index: -1;
}
.subscribe__title {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 35%;
}
@media (max-width: 768px) {
  .subscribe__title {
    width: 100%;
  }
}
.subscribe__title h4 {
  color: white;
}
.subscribe__title p {
  color: #9ca1a5;
}
.subscribe__form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 47%;
}
@media (max-width: 768px) {
  .subscribe__form {
    width: 100%;
    flex-direction: column;
    align-items: start;
  }
}
.subscribe__form input {
  border: 1px rgba(0, 0, 0, 0.188) solid;
  border-radius: 5px;
  padding: 1rem;
  width: 100%;
}
@media (max-width: 768px) {
  .subscribe__form .btn--enter {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.popular-places {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  background-color: #F7FAFD;
  padding: 3.5rem 12%;
}
@media (max-width: 992px) {
  .popular-places {
    padding: 3rem 4%;
  }
}
.popular-places__title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 20px;
}
.popular-places__title p {
  color: #9ca1a5;
}
.popular-places__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}
@media (max-width: 768px) {
  .popular-places__container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 576px) {
  .popular-places__container {
    grid-template-columns: repeat(1, 1fr);
  }
}
.popular-places__container .popular-places__card {
  overflow: hidden;
  border: 1px solid rgba(0, 0, 0, 0.072);
  border-radius: 10px;
  background-color: white;
  position: relative;
  transition: 0.4s ease;
}
.popular-places__container .popular-places__card img {
  width: 100%;
}
.popular-places__container .popular-places__card:hover {
  color: #FF4A52;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
}
.popular-places__container .popular-places__card:hover .btn--small {
  background-color: #FF4A52;
}
.popular-places__container .popular-places__card .btn--small {
  position: absolute;
  top: 20px;
  left: 20px;
  padding: 8px 16px;
}
.popular-places__container .popular-places__card--info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  padding: 2rem 1rem;
}
.popular-places__container .popular-places__card--info p {
  color: #9ca1a5;
}
.popular-places .info-review {
  display: flex;
  justify-content: space-between;
}
.popular-places .info-review span {
  align-items: flex-start;
  font-size: 14px;
}
.popular-places .info-review .fa-star {
  font-size: 10px;
  color: #FDAE5C;
}
.popular-places .info-review a {
  color: #9ca1a5;
}
.popular-places .info-review .clock {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
}
.popular-places .info-review .clock .fa-clock {
  color: rgb(94, 93, 93);
}
.popular-places .btn--enter {
  position: relative;
}

.video {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.video__container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.video__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}
.video__title h3 {
  color: white;
}
.video__btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #20C6B6;
  padding: 2rem;
  border-radius: 50%;
  cursor: pointer;
}
.video__btn i {
  color: white;
  z-index: 2;
}
.video__btn::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #20C6B6;
  border-radius: 50%;
  transform: scale(0.8);
  opacity: 0.6;
  z-index: -1;
  animation: pulse 2s infinite;
}
@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 0.6;
  }
  50% {
    transform: scale(1.5);
    opacity: 0.3;
  }
  100% {
    transform: scale(2);
    opacity: 0;
  }
}

.advantages {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 3.5rem 12%;
}
@media (max-width: 992px) {
  .advantages {
    padding: 3rem 4%;
  }
}
@media (max-width: 768px) {
  .advantages {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 576px) {
  .advantages {
    grid-template-columns: repeat(1, 1fr);
  }
}
.advantages__card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2rem;
  gap: 2rem;
}
.advantages__card--title {
  line-height: 2;
}
.advantages__card--title p {
  color: #9ca1a5;
}

.quotes {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #F7FAFD;
  padding: 3.5rem 12%;
}
@media (max-width: 992px) {
  .quotes {
    padding: 3rem 4%;
  }
}
.quotes__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  width: 60%;
  margin: 0 auto;
}
@media (max-width: 992px) {
  .quotes__card {
    width: 100%;
  }
}
.quotes__card--image {
  position: relative;
}
.quotes__card--image i {
  font-size: 18px;
  position: absolute;
  background-color: #20C6B6;
  border-radius: 50%;
  color: white;
  padding: 1rem;
  bottom: -10px;
  right: -10px;
}
.quotes__card--title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: 2;
}
.quotes__card--title h4 {
  color: #9ca1a5;
}
.quotes__card--dots {
  display: flex;
  gap: 10px;
  font-size: 12px;
  color: #9ca1a5;
  cursor: pointer;
}
.quotes__card--dots .active {
  color: #FF4A52;
}

.trips {
  padding: 3.5rem 12%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4rem;
}
@media (max-width: 992px) {
  .trips {
    padding: 3rem 4%;
  }
}
.trips__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}
@media (max-width: 992px) {
  .trips__container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 576px) {
  .trips__container {
    grid-template-columns: repeat(1, 1fr);
  }
}
.trips__card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.trips__card h3 {
  text-align: start;
  transition: 0.2s ease;
}
.trips__card:hover h3 {
  color: #FF4A52;
}
.trips__card img {
  width: 100%;
  border-radius: 5px;
}
.trips__card--title {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.trips__card--title span {
  color: #9ca1a5;
}

.blog__info {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 2rem;
}
@media (max-width: 576px) {
  .blog__info {
    width: 100%;
  }
}
.blog__info--search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #FBF9FF;
  padding: 2rem;
  width: 100%;
  gap: 1rem;
}
.blog__info--search .search {
  display: flex;
  align-items: center;
  position: relative;
}
.blog__info--search .search input {
  border: 1px solid #efeaf9;
  padding: 1rem;
  width: 100%;
}
.blog__info--search .search i {
  color: #9ca1a5;
  padding: 0.5rem;
  position: absolute;
  right: 0;
}
.blog__info--search .btn--send {
  width: 100%;
  text-align: center;
}
.blog__info--category {
  display: flex;
  flex-direction: column;
  background-color: #FBF9FF;
  padding: 2rem;
  gap: 2rem;
  width: 100%;
}
.blog__info--category h3 {
  border-bottom: 1px solid #efeaf9;
  padding: 20px 0;
}
.blog__info--category ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.blog__info--category ul li {
  border-bottom: 1px solid #efeaf9;
  padding-bottom: 20px;
}
.blog__info--category ul li a {
  color: #9ca1a5;
  transition: 0.3s;
}
.blog__info--category ul li a:hover {
  color: #FF4A52;
}
.blog__info--post {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #FBF9FF;
  padding: 2rem 1rem;
  gap: 1rem;
  width: 100%;
}
.blog__info--post h3 {
  border-bottom: 1px solid #efeaf9;
  padding: 20px 0;
}
.blog__info--post .post {
  display: flex;
  gap: 20px;
  align-items: center;
}
.blog__info--post .post--text h4 {
  cursor: pointer;
  transition: 0.3s;
}
.blog__info--post .post--text h4:hover {
  color: #FF4A52;
}
.blog__info--post .post--text p {
  color: #9ca1a5;
}
.blog__info--tag {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #FBF9FF;
  width: 100%;
  padding: 2rem;
  gap: 2rem;
}
.blog__info--tag h3 {
  border-bottom: 1px solid #efeaf9;
  padding: 20px 0;
}
.blog__info--tag ul {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  cursor: pointer;
}
.blog__info--tag ul li {
  border: 1px solid #efeaf9;
  background-color: white;
  padding: 5px 15px;
  transition: 0.3s;
}
.blog__info--tag ul li a {
  color: #9ca1a5;
}
.blog__info--tag ul li:hover {
  background-color: #FF4A52;
}
.blog__info--tag ul li:hover a {
  color: white;
}
.blog__info--instagram {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #FBF9FF;
  width: 100%;
  padding: 2rem;
  gap: 2rem;
}
.blog__info--instagram h3 {
  border-bottom: 1px solid #efeaf9;
  padding: 20px 0;
}
.blog__info--instagram .ig-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}
.blog__info--instagram .ig-container img {
  cursor: pointer;
  width: 100%;
}
.blog__info--newsletter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #FBF9FF;
  padding: 2rem;
  gap: 2rem;
  width: 100%;
}
.blog__info--newsletter h3 {
  border-bottom: 1px solid #efeaf9;
  padding: 20px 0;
}
.blog__info--newsletter .email {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.blog__info--newsletter .email input {
  border: 1px solid #efeaf9;
  padding: 1rem;
  width: 100%;
}
.blog__info--newsletter .btn--send {
  width: 100%;
  text-align: center;
}

.hero {
  height: 95vh;
  width: 100%;
  position: relative;
  z-index: 2;
  background-image: url(/src/images/Switzerland.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 992px) {
  .hero {
    height: 60vh;
  }
}
.hero::before {
  position: absolute;
  content: " ";
  background-color: #040E27;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.1;
}
.hero .hero__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 3rem;
  line-height: 1;
  gap: 5px;
  z-index: 3;
  color: white;
}
.hero .hero__title p {
  text-align: center;
  padding-bottom: 2rem;
}
.hero .chevron-left {
  position: absolute;
  top: 60%;
  left: 0;
  transform: translate(0, -70%);
  background-color: rgba(178, 178, 178, 0.236);
  color: #fff;
  padding: 3rem 1rem;
  cursor: pointer;
  z-index: 999;
  transition: 0.2s ease-in;
}
@media (max-width: 992px) {
  .hero .chevron-left {
    display: none;
  }
}
.hero .chevron-left:hover {
  background: #fff;
  color: black;
  transition: 0.6s;
}
.hero .chevron--right {
  position: absolute;
  top: 60%;
  right: 0;
  transform: translate(0, -70%);
  background-color: rgba(178, 178, 178, 0.236);
  color: #fff;
  padding: 3rem 1rem;
  z-index: 999;
  transition: 0.2s ease-in;
  cursor: pointer;
}
@media (max-width: 992px) {
  .hero .chevron--right {
    display: none;
  }
}
.hero .chevron--right:hover {
  background-color: #fff;
  color: #000;
}

.popular-destination {
  padding: 3.5rem 12%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}
@media (max-width: 992px) {
  .popular-destination {
    padding: 3rem 4%;
  }
}
.popular-destination__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  width: 47%;
}
@media (max-width: 992px) {
  .popular-destination__title {
    width: 100%;
  }
}
.popular-destination__title p {
  color: #9ca1a5;
  text-align: center;
  line-height: 1.6;
}
.popular-destination__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}
@media (max-width: 992px) {
  .popular-destination__container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 576px) {
  .popular-destination__container {
    grid-template-columns: repeat(1, 1fr);
  }
}
.popular-destination .popular-destination__card {
  overflow: hidden;
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.123);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 5px;
  transition: 0.4s ease;
}
.popular-destination .popular-destination__card::before {
  position: absolute;
  content: " ";
  background: -webkit-linear-gradient(top, rgba(4, 14, 39, 0) 0%, #040E27 100%);
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.6;
}
.popular-destination .popular-destination__card p {
  display: flex;
  gap: 10px;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 2rem;
  transition: 0.4s linear;
}
.popular-destination .popular-destination__card:hover {
  transform: translateY(-15px);
}
.popular-destination .popular-destination__card:hover .btn--small {
  background-color: #FF4A52;
}
.popular-destination .popular-destination__card:hover p {
  color: #FF4A52;
}

.hero-about {
  position: relative;
  width: 100%;
  background-image: url(/src/images/about-hero.png);
  height: 60vh;
  margin-top: 110px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 992px) {
  .hero-about {
    height: 40vh;
    margin-top: 70px;
  }
}
@media (max-width: 768px) {
  .hero-about {
    height: 50vh;
  }
}
.hero-about::before {
  position: absolute;
  content: " ";
  background-color: #040E27;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.1;
}
.hero-about--title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 3rem;
  line-height: 1;
  gap: 5px;
  z-index: 3;
  color: white;
}
.hero-about--title p {
  text-align: center;
  padding-bottom: 2rem;
}

.story {
  padding: 3.5rem 12%;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 2rem;
}
@media (max-width: 992px) {
  .story {
    padding: 3.5rem 4%;
    align-items: center;
  }
}
.story__title {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 2rem;
  width: 80%;
}
@media (max-width: 576px) {
  .story__title {
    width: 100%;
  }
}
.story__title p {
  line-height: 2;
  color: #9ca1a5;
}
.story__image {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}
.story__image img {
  width: 100%;
}
@media (max-width: 992px) {
  .story__image {
    flex-direction: column;
  }
}
@media (max-width: 576px) {
  .story__image {
    flex-direction: column;
  }
}
.story__numbers {
  padding-left: 2rem 1rem 0 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
@media (max-width: 576px) {
  .story__numbers {
    flex-direction: column;
    gap: 2.4rem;
    padding: 2rem;
  }
}
@media (max-width: 992px) {
  .story__numbers {
    flex-direction: column;
    padding: 3rem;
  }
}
.story__numbers--card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}
.story__numbers--card span {
  color: #FF4A52;
}

.hero-destination {
  position: relative;
  width: 100%;
  background-image: url(/src/images/destination.png);
  height: 60vh;
  margin-top: 110px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 992px) {
  .hero-destination {
    height: 40vh;
    margin-top: 70px;
  }
}
@media (max-width: 768px) {
  .hero-destination {
    height: 50vh;
  }
}
.hero-destination::before {
  position: absolute;
  content: " ";
  background-color: #040E27;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.2;
}
.hero-destination--title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 3rem;
  line-height: 1;
  gap: 5px;
  z-index: 3;
  color: white;
}
.hero-destination--title p {
  text-align: center;
  padding-bottom: 2rem;
}

.destinations {
  padding: 3.5rem 12%;
  display: flex;
  justify-content: center;
  align-items: start;
  background-color: #F7FAFD;
  gap: 2rem;
}
@media (max-width: 992px) {
  .destinations {
    align-items: center;
    padding: 3rem 4%;
    flex-direction: column;
  }
}
.destinations__price {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 35%;
  gap: 2rem;
}
@media (max-width: 992px) {
  .destinations__price {
    width: 100%;
  }
}
.destinations__price--container {
  padding: 1rem;
  border: 1px solid #DEE2E7;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: start;
  gap: 1rem;
  width: 100%;
}
.destinations__price--container select {
  border: 1px solid #DEE2E7;
  background-color: #F7FAFD;
  border-radius: 10px;
  width: 100%;
  padding: 1rem 2rem;
  color: #9ca1a5;
}
.destinations__price--container .slider-wrapper {
  width: 100%;
  border-radius: 10px;
}
.destinations__price--container .slider-wrapper .price-input {
  width: 100%;
  margin: 30px 0 35px;
}
.destinations__price--container .slider-wrapper .price-input .field {
  display: flex;
  width: 100%;
  height: 45px;
  align-items: center;
}
.destinations__price--container .slider-wrapper .field input {
  width: 100%;
  height: 100%;
  outline: none;
  font-size: 19px;
  margin-left: 12px;
  border-radius: 5px;
  text-align: center;
  border: 1px solid #999;
  -moz-appearance: textfield;
}
.destinations__price--container .slider-wrapper input[type=number]::-webkit-outer-spin-button,
.destinations__price--container .slider-wrapper input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.destinations__price--container .slider-wrapper .price-input .seperator {
  width: 130px;
  display: flex;
  font-size: 19px;
  align-items: center;
  justify-content: center;
}
.destinations__price--container .slider-wrapper .slider {
  height: 5px;
  position: relative;
  background: #ddd;
  border-radius: 5px;
}
.destinations__price--container .slider-wrapper .slider .progress {
  height: 100%;
  left: 25%;
  right: 25%;
  position: absolute;
  border-radius: 5px;
  background-color: #FF4A52;
}
.destinations__price--container .slider-wrapper .range-input {
  position: relative;
}
.destinations__price--container .slider-wrapper .range-input input {
  position: absolute;
  width: 100%;
  height: 5px;
  top: -5px;
  background: none;
  pointer-events: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.destinations__price--container .slider-wrapper input[type=range]::-webkit-slider-thumb {
  height: 17px;
  width: 17px;
  border-radius: 50%;
  background-color: white;
  border: 2px solid #FF4A52;
  pointer-events: auto;
  -webkit-appearance: none;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
}
.destinations__price--container .slider-wrapper input[type=range]::-moz-range-thumb {
  height: 17px;
  width: 17px;
  border: none;
  border-radius: 50%;
  background: #000;
  pointer-events: auto;
  -moz-appearance: none;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
}
.destinations__price--container .slider-numbers {
  padding: 1rem;
  font-size: 17px;
  color: #9ca1a5;
}
.destinations .btn--enter, .destinations .reset {
  width: 100%;
  text-align: center;
}
.destinations .btn--enter a, .destinations .reset a {
  color: white;
  font-weight: 500;
}

.destination {
  padding: 0;
}
.destination .destination-cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
@media (max-width: 576px) {
  .destination .destination-cards {
    grid-template-columns: repeat(1, 1fr);
  }
}

.hero-blog {
  position: relative;
  width: 100%;
  background-image: url(/src/images/hero-blog.png);
  height: 60vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 992px) {
  .hero-blog {
    height: 40vh;
  }
}
@media (max-width: 768px) {
  .hero-blog {
    height: 50vh;
  }
}
.hero-blog::before {
  position: absolute;
  content: " ";
  background-color: #040E27;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.1;
}
.hero-blog--title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 3rem;
  line-height: 1;
  gap: 5px;
  z-index: 3;
  color: white;
}
.hero-blog--title p {
  text-align: center;
  padding-bottom: 2rem;
}

.blog {
  padding: 5rem 12%;
  display: flex;
  justify-content: center;
  gap: 2rem;
}
@media (max-width: 992px) {
  .blog {
    padding: 3.5rem 4%;
    align-items: center;
    flex-direction: column;
  }
}
.blog__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}
.blog__container--card {
  display: flex;
  flex-direction: column;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.blog__container--card .card--img {
  position: relative;
}
.blog__container--card .card--img img {
  width: 100%;
}
.blog__container--card .card--img .calendar {
  color: white;
  padding: 1rem 2rem;
  border-radius: 5px;
  background-color: #FF4A52;
  position: absolute;
  bottom: -20px;
  left: 20px;
  transition: 0.2s linear;
}
@media (max-width: 576px) {
  .blog__container--card .card--img .calendar {
    padding: 10px 15px;
  }
}
.blog__container--card .card--img .calendar a {
  color: white;
}
.blog__container--card .card--img .calendar:hover {
  background: none;
  color: #FF4A52;
}
.blog__container--card .card__text {
  padding: 3rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}
@media (max-width: 576px) {
  .blog__container--card .card__text {
    padding: 2rem 1rem;
  }
}
.blog__container--card .card__text h2 {
  transition: 0.2s;
  cursor: pointer;
}
.blog__container--card .card__text h2:hover {
  color: #FF4A52;
}
.blog__container--card .card__text p {
  line-height: 2;
  color: #9ca1a5;
}
.blog__container--card .card__text--end {
  display: flex;
  gap: 20px;
}
.blog__container--card .card__text--end li:hover i, .blog__container--card .card__text--end li:hover a {
  color: #FF4A52;
}
.blog__container--card .card__text--end i {
  color: gray;
  font-size: 11px;
}
.blog__container--card .card__text--end a {
  color: #9ca1a5;
  font-size: 14px;
}
.blog__container--card .card__text--end li:nth-child(2) {
  padding: 0 10px;
  border-left: 2px solid #9ca1a5;
}
.blog__container--slider {
  display: flex;
  gap: 10px;
}
.blog__container--slider a {
  border: 1px solid #efeaf9;
  padding: 10px 15px;
  color: gray;
}
.blog__container--slider a:hover {
  color: #FF4A52;
}
.blog__container--slider .active {
  background-color: #FBF9FF;
}
.blog__container--slider .active:hover {
  background-color: white;
  color: #FF4A52;
}

.hero-single-blog {
  position: relative;
  width: 100%;
  background-image: url(/src/images/hero-blog.png);
  height: 60vh;
  margin-top: 110px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 992px) {
  .hero-single-blog {
    height: 40vh;
    margin-top: 70px;
  }
}
@media (max-width: 768px) {
  .hero-single-blog {
    height: 50vh;
  }
}
.hero-single-blog::before {
  position: absolute;
  content: " ";
  background-color: #040E27;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.1;
}
.hero-single-blog--title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 3rem;
  line-height: 1;
  gap: 5px;
  z-index: 3;
  color: white;
}
.hero-single-blog--title p {
  text-align: center;
  padding-bottom: 2rem;
}

.single {
  padding: 3.5rem 12%;
  display: flex;
  justify-content: center;
  gap: 2rem;
}
@media (max-width: 992px) {
  .single {
    padding: 3.5rem 4%;
    flex-direction: column;
    width: 100%;
  }
}
.single__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.single__img img {
  width: 100%;
}
.single__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  padding: 1rem 0;
  border-bottom: 1px solid #efeaf9;
}
.single__text p {
  color: #9ca1a5;
}
.single__text--title {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-top: 1rem;
}
.single__text--icon {
  display: flex;
  gap: 20px;
}
.single__text--icon li:hover i, .single__text--icon li:hover a {
  color: #FF4A52;
}
.single__text--icon i {
  color: gray;
  font-size: 11px;
}
.single__text--icon a {
  color: #9ca1a5;
  font-size: 14px;
}
.single__text--icon li:nth-child(2) {
  padding: 0 10px;
  border-left: 2px solid #9ca1a5;
}
.single__text--quote {
  background-color: #FBF9FF;
  width: 100%;
  padding: 2rem;
}
.single__text--quote p {
  padding: 1rem;
  line-height: 2;
  background-color: white;
  border-left: 3px solid gray;
}
.single__post {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  border-bottom: 1px solid #efeaf9;
  padding: 1rem;
}
.single__post i {
  color: #9ca1a5;
  transition: 0.4s;
}
.single__post i:hover {
  color: #FF4A52;
}
.single__post--likes {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.single__post--likes .icons {
  display: flex;
  gap: 15px;
  font-size: 14px;
}
.single__post--cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.single__post--cards p {
  color: #9ca1a5;
}
.single__post--cards .preview {
  display: flex;
  align-items: center;
  gap: 10px;
}
.single__post--cards .preview__img {
  position: relative;
}
.single__post--cards .preview__img img {
  width: 100%;
}
.single__post--cards .preview__img::before {
  content: "<-";
  position: absolute;
  top: 0;
  left: 0;
  height: 0;
  width: 100%;
  background-color: black;
  color: white;
  overflow: hidden;
  opacity: 0.3;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  transition: 0.6s;
}
.single__post--cards .preview__img:hover::before {
  height: 100%;
}
.single__post--cards .next {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  text-align: end;
  gap: 10px;
}
.single__post--cards .next__img {
  position: relative;
}
.single__post--cards .next__img img {
  width: 100%;
}
.single__post--cards .next__img::before {
  content: "->";
  position: absolute;
  top: 0;
  left: 0;
  height: 0;
  width: 100%;
  background-color: black;
  color: white;
  overflow: hidden;
  opacity: 0.3;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  transition: 0.6s;
}
.single__post--cards .next__img:hover::before {
  height: 100%;
}
@media (max-width: 576px) {
  .single__post--cards {
    flex-direction: column;
    align-items: normal;
  }
}
.single__author {
  display: flex;
  background-color: #FBF9FF;
  width: 100%;
  padding: 2rem;
  gap: 1rem;
  margin-top: 3rem;
  align-items: center;
}
@media (max-width: 576px) {
  .single__author img {
    width: 50px;
    height: 50px;
  }
}
.single__author--text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}
.single__comment {
  padding: 3rem 0;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.single__comment a {
  font-weight: 500;
}
.single__comment h4 {
  line-height: 4;
  border-top: 1px solid #efeaf9;
}
.single__comment--card {
  display: flex;
  gap: 20px;
}
.single__comment--card .comment-text {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.single__comment--card .comment-text a {
  color: rgb(74, 74, 74);
}
.single__comment--card .comment-text p {
  color: gray;
  font-size: 15px;
}
.single__comment--card .comment-text--end {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 576px) {
  .single__comment--card .comment-text--end {
    flex-direction: column;
  }
}
.single__comment--card .comment-text--end .username-date {
  display: flex;
  gap: 20px;
}
.single__comment--card .comment-text--end .username-date p {
  color: #9ca1a5;
}
.single__contact {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.single__contact .contact__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  width: 100%;
}
.single__contact .contact__form .inputs {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}
.single__contact .contact__form textarea {
  border: 1px solid #9ca1a5;
  width: 100%;
  height: 10rem;
  padding: 1rem;
  outline: none;
  resize: none;
}
.single__contact .contact__form input {
  border: 1px solid #9ca1a5;
  padding: 1rem;
  width: 100%;
  outline: none;
}
.single__contact .contact__form .btn--send {
  display: inline-block;
  width: 25%;
  text-align: center;
}
@media (max-width: 576px) {
  .single__contact .contact__form .btn--send {
    width: 100%;
  }
}
.single__contact .contact__form .btn--send a {
  color: white;
  text-transform: uppercase;
}

.hero-contact {
  position: relative;
  width: 100%;
  background-image: url(/src/images/hero-blog.png);
  height: 60vh;
  margin-top: 110px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 992px) {
  .hero-contact {
    height: 40vh;
    margin-top: 70px;
  }
}
@media (max-width: 768px) {
  .hero-contact {
    height: 50vh;
  }
}
.hero-contact::before {
  position: absolute;
  content: " ";
  background-color: #040E27;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.1;
}
.hero-contact--title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 3rem;
  line-height: 1;
  gap: 5px;
  z-index: 3;
  color: white;
}
.hero-contact--title p {
  text-align: center;
  padding-bottom: 2rem;
}

.maps {
  padding: 3.5rem 12%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.maps iframe {
  width: 100%;
}
@media (max-width: 992px) {
  .maps {
    padding: 2rem 4%;
  }
}

.get-in-touch {
  padding: 0 12%;
}
@media (max-width: 992px) {
  .get-in-touch {
    padding: 0 4%;
  }
}

.contact {
  padding: 2rem 12%;
  display: flex;
  justify-content: space-between;
  align-items: start;
}
@media (max-width: 992px) {
  .contact {
    flex-direction: column;
    gap: 2rem;
    padding: 1rem 4%;
  }
}
.contact__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  width: 65%;
}
@media (max-width: 992px) {
  .contact__form {
    width: 100%;
  }
}
.contact__form .inputs {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}
.contact__form textarea {
  border: 1px solid #9ca1a5;
  width: 100%;
  height: 10rem;
  padding: 1rem;
  outline: none;
  resize: none;
}
.contact__form input {
  border: 1px solid #9ca1a5;
  padding: 1rem;
  width: 100%;
  outline: none;
}
.contact__form .btn--send {
  display: inline-block;
  width: 20%;
  text-align: center;
}
@media (max-width: 576px) {
  .contact__form .btn--send {
    width: 40%;
  }
}
.contact__form .btn--send a {
  color: white;
  text-transform: uppercase;
}
.contact__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 2rem;
}
.contact__info--card {
  display: flex;
  gap: 2rem;
}
.contact__info--card p {
  color: #9ca1a5;
}
.contact__info--card i {
  color: #9ca1a5;
  font-size: 25px;
}/*# sourceMappingURL=main.css.map */